/node_modules
/public/hot
/public/storage
/public/.env
/storage/*.key
/vendor
/worker
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/TODO
/nbproject/private/
/public/profile
/public/zapier
/public/apple-app-site-association
/public/signature
/public/build
/storage
config/chunk-upload.php
resources/views/test.blade.php
resources/views/admin/courses/builder/index1.blade.php
storage/keys
bootstrap/cache
